// This SCSS file defines styles for error count display in a contact form.

$padding-count-error: 5px; // Padding value for error count element
$font-size: 12px; // Font size for error count element
$color-error: red; // Color for error text

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
  padding: 0 $padding-count-error;
  width: 100%;
  box-sizing: border-box;
}

span {
  font-size: $font-size;
}

.error-field {
  color: $color-error;
}

.count-and-error {
  @include flex-end;
  justify-content: space-between;
}

.only-count {
  @include flex-end;
}