<ng-container *ngIf="(listProjects | async); else animateLoad">

  <div class="container-projects">
    <h3>Projects</h3>

    <div [id]="listProjectId" class="container-list-projects">
      <ng-container *ngFor="let project of (listProjects | async)">
        <app-card-project (click)="clickOnProject(project)"
                          [project]="project"
                          class="item-project"
        ></app-card-project>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #animateLoad>
  <app-loading [pathArg]="'/assets/loading3.json'"></app-loading>
</ng-template>

