@use "scss/button-git";
@use "scss/container-list-projects";
@import "src/app/scss/mixin_globals";

.container-projects {
  @include size-section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-image: url("/assets/background-project.svg");
  background-size: cover;

  h3 {
    font-size: 22px;
    text-align: center;
  }

}



