<div class="container-details-project">
  <div class="header-project">
    <h3>{{projectDetails.name}}</h3>
    <img [src]="projectDetails.urlImg" alt="{{projectDetails.name}} splash">
  </div>

  <p>{{projectDetails.description}}</p>


  <div *ngIf="images.length !=0 ">
    <h3>Gallery</h3>
    <div class="container-images">
      <ng-container *ngFor="let img of images;let index=index">
        <app-img-details-project
          [gallery]="galleryId"
          [indexScreenshots]="index"
          [lightbox]="index"
          [urlImgProject]="img.data.src"
        ></app-img-details-project>
      </ng-container>
    </div>

  </div>

  <a class="button-github" href="{{projectDetails.urlRepo}}" target="_blank">
    <fa-icon [icon]="icon"></fa-icon>
    Go to Project</a>

</div>

