@if (listCertificates()) {
<section class="container-certificate">
  <header class="container-title-certificate">
    <h3>Certificates</h3>
  </header>
  <div [id]="listCertificateId" class="container-list-certificate">
    @for (certificate of listCertificates(); track certificate.certificate.name; let index = $index) {
    <app-item-certificate [certificate]="certificate.certificate" [gallery]="galleryId" [lightbox]="index" />
    }
  </div>
</section>
} @else {
<app-loading [pathArg]="'/assets/loading4.json'"/>
}