<!-- FILEPATH: /C:/Users/desarrollador6/Documents/Proyectos/NullSiteWeb/src/app/contact/form-contact/form-contact.component.html -->
<div class="container-form">
  <form (ngSubmit)="onSubmit()" [formGroup]="formContact">
    <div class="container-inputs">

      <!-- Input field for name -->
      <div class="form-section">
        <input formControlName="name" placeholder="Name" type="text" [maxlength]="maxCountName+10">
        <app-count-and-error-field [control]="nameControl" [errorsList]="errorsListName" [maxCount]="maxCountName">
        </app-count-and-error-field>
      </div>

      <!-- Input field for email -->
      <div class="form-section">
        <input formControlName="email" placeholder="Email" type="text" [maxlength]="maxCountEmail+10">
        <div class="count-and-error">
          <app-count-and-error-field [control]="emailControl" [errorsList]="errorsListEmail" [maxCount]="maxCountEmail">
          </app-count-and-error-field>
        </div>
      </div>

      <!-- Input field for subject -->
      <div class="form-section">
        <input formControlName="subject" placeholder="Subject" type="text" [maxlength]="maxCountSubject+10">
        <app-count-and-error-field [control]="subjectControl" [errorsList]="errorsListSubject"
          [maxCount]="maxCountSubject">
        </app-count-and-error-field>
      </div>
    </div>

    <!-- Textarea field for message -->
    <div class="form-section">
      <textarea formControlName="message" placeholder="Write your message" [maxlength]="maxCountMessage+10"></textarea>
      <app-count-and-error-field [control]="messageControl" [errorsList]="errorsListMessage"
        [maxCount]="maxCountMessage"></app-count-and-error-field>
    </div>

    <!-- reCAPTCHA field -->
    <re-captcha formControlName="token" [siteKey]="siteKey"></re-captcha>

    <!-- Submit button -->
    <input type="submit" value="Send Message">

  </form>
</div>