<div class="container-language-programming">

  @if (!isMobile()) {
    <div>
      <h3 class="title-items-skills">Programming languages</h3>
      <div class="container-cards-items">
        @for (item of listLanguages; track item) {
          <app-skill-card [itemSkill]="item"></app-skill-card>
        }
      </div>
    </div>
    <div>
      <h3 class="title-items-skills">Technologies</h3>
      <div class="container-cards-items">
        @for (tech of listTech; track tech) {
          <app-skill-card [itemSkill]="tech"></app-skill-card>
        }
      </div>
    </div>
  } @else {
    <div>
      <h3 class="title-skills">Skills</h3>
      <div class="container-cards-items">
        @for (tech of allItems; track tech) {
          <app-skill-card [itemSkill]="tech"></app-skill-card>
        }
      </div>
    </div>
  }


</div>