@mixin container-responsive(
  $width-card,
  $height-card,
  $max-width-card:auto,
  $max-height-card:auto,
) {
  width: $width-card;
  height: $height-card;
  max-width: $max-width-card;
  max-height: $max-height-card;
}

.container-card-contact {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  box-shadow: 8px 10px 28px -5px rgba(0, 0, 0, 0.76);
  border-radius: 10px;
  @include container-responsive($width-card: 80vw, $height-card: 90%, $max-width-card: 800px, $max-height-card: 700px);

  @media screen and (max-width: 800px) {
    @include container-responsive($width-card: 90vw, $height-card: 90%, $max-width-card: 800px, $max-height-card: 700px);
  }

  @media screen and (max-width: 600px) {
    @include container-responsive($width-card: 100%, $height-card: 100%);
    box-shadow: none;
    border-radius: inherit;
    flex-direction: column;
  }
}
