@use "../../scss/variables_global";
@import "src/app/scss/mixin_globals";
@import "scss/description_style";
@import "scss/photo-profile-style";

.container-profile {
  background-image: url("/assets/background-profile.svg");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  @include size-section;


  @media screen and (max-width: #{variables_global.$size-mobile}) {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

}
