@use "mixin_profile";

$breakpoints: (
  1200px: 50%,
  800px: 45%,
  600px: 100%
);


.container-description-profile {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
}

@include mixin_profile.responsive-block-info(
  $class-block: container-description-profile,
  $padding-normal: 10px,
  $padding-mobile: 20px,
  $list-breakpoints: $breakpoints
)
