@use "../../contact/contact/scss/mixins-contact" as *;
@use "index" as *;


.container-image-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include fill_max_size_with_padding(40px);

  img {
    background: #00CC99;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    width: 100%;
    height: 350px;
    margin-top: 20px;

    @media screen and (max-width: 600px) {
      display: none;
    }

  }

  @media screen and (max-width: 600px) {
    align-items: center;
  }

}


