@use "index" as *;


.container-animation-load {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  @include size-section;

  ng-lottie {
    height: 250px;
    width: auto;
  }

}
